body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/fondo-negro.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.form-container {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 40px;
  max-width: 620px;
  width: 100%;
  text-align: center;
  margin-left: 20%; /* Ajuste específico para alineación izquierda */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
}

.form-container h1 {
  font-size: 20px;
  color: #00FF6A;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.form-container img.title {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.form-container img.logo {
  position: absolute; /* Permite posicionar el logo relativo al contenedor */
  top: 20px; /* Distancia desde el borde superior */
  left: 20px; /* Distancia desde el borde izquierdo */
  max-width: 160px; /* Tamaño del logo */
  height: auto;
  margin: 0; /* Elimina márgenes extra */
}

/* Contenedor principal */
.arrowed-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

/* Estilo de las flechas */
.arrow-left, .arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s infinite; /* Agregamos animación */
}

.arrow-icon {
  width: 25px; /* Ajusta el tamaño de las flechas */
  height: 25px;
  stroke: #ffd700; /* Color dorado */
  stroke-width: 2.5;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Estilo del texto */
.arrowed-text {
  font-size: 20px !important; /* Asegúrate de que sobrescriba otras reglas */
  font-weight: bold;
  color: #fff;
  margin: 0 15px; /* Espaciado entre texto y flechas */
  text-align: center;
  line-height: 1.2;
}

/* Efecto dorado */
.gold-effect {
  background: linear-gradient(90deg, #Efb810, #fceabb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Animación de rebote */
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Ajusta la altura del rebote */
  }
}

.form-container p {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 1.5;
  text-align: left; /* Alineación izquierda solo para este texto */
}

.form-container p span {
  font-weight: bold;
  background: linear-gradient(90deg, #Efb810, #fceabb); /* Degradado metálico */
  -webkit-background-clip: text; /* Clipa el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Opcional: un leve shadow para resaltar el efecto */
}
.gratis{
  font-size: 25px;
  font-weight: bold;
}


.gratis span{
  font-weight: bold;
  background: linear-gradient(90deg, #Efb810, #fceabb); /* Degradado metálico */
  -webkit-background-clip: text; /* Clipa el fondo al texto */
  -webkit-text-fill-color: transparent; /* Hace el texto transparente para mostrar el degradado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Opcional: un leve shadow para resaltar el efecto */
}
  
 
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Hace que el botón ocupe el 100% del ancho del contenedor */
  padding: 1.25rem 2rem; /* Espaciado interno */
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgba(255, 207, 35, .1);
  border-bottom: 2px solid #ffcf23;
  border-radius: 2px;
  color: #fff8f1;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  transition: box-shadow .3s;
  margin-top: 20px; /* Agrega separación entre el formulario y el botón */
}

.button:hover {
  box-shadow: 0 0 80px #efb71042;
}




.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #000;
  border-bottom-width: .125rem;
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.relative {
  flex: none;
  position: relative;
  overflow: hidden;
}

.button_glow {
  pointer-events: none;
  background-image: radial-gradient(circle closest-corner at 50% 100%, rgba(245, 204, 160, .15), rgba(245, 204, 160, 0));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button_text-ab {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.button-wrap {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25em;
  display: flex;
}

.button-wrap.is-testimonial {
  z-index: 2;
  margin-top: -16rem;
  position: relative;
}




.icon_btn-arrow-ab-2 {
  color: #ffcf23;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5625rem;
  height: 1.25rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}



.button-wrap-2 {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.icon_btn-arrow-2 {
  color: #ffcf23;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5625rem;
  height: 1.25rem;
  display: flex;
}



.button-2 {
  grid-column-gap: 1.88rem;
  grid-row-gap: 1.88rem;
  color: #fff8f1;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: rgba(255, 207, 35, .1);
  border-bottom: 2px solid #ffcf23;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: box-shadow .3s;
  display: flex;
  position: relative;
}

.button-2:hover {
  box-shadow: 0 0 80px rgba(255, 207, 35, .22);
}







@media (max-width: 768px) {
  body {
    background-image: url('../img/Capa\ 1.png');
    min-height: 100vh;
  }

  .form-container {
      padding: 20px;
      margin: 0 auto; /* Centrar completamente */
      max-width: 90%;
  }

  .form-container p {
      font-size: 14px;
  }

  .form-container img.logo {
      max-width: 100px; /* Reducir más el logo en dispositivos móviles */
  }
}
/* Imagen inferior, oculta en escritorio */
.bottom-image {
  display: none;
  width: 100%; /* Imagen ocupa todo el ancho */
  max-height: 40vh; /* Ajusta la altura máxima */
  object-fit: cover; /* Mantiene proporciones */
}
/* Imagen inferior, oculta en escritorio */
.logo-bottom {
  display: none;
  width: 100%; /* Imagen ocupa todo el ancho */
  max-height: 40vh; /* Ajusta la altura máxima */
  object-fit: cover; /* Mantiene proporciones */
}
/* Versión móvil */
@media (max-width: 768px) {

  html, body {
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina rellenos */
    height: 100%; /* Asegura que el html y el body ocupen toda la altura */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
  }
  body {
    display: flex;
    flex-direction: column; /* Ordena los elementos en columna */
    justify-content: space-between; /* Espacia el contenido */
    background-image: url('../img/Capa\ 1.png'); /* Imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita repeticiones */
    min-height: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 100); /* Altura dinámica basada en la variable */
    max-height: 100vh; /* Limita la altura máxima */
    box-sizing: border-box; /* Incluye bordes y padding en el cálculo del tamaño */
  }
  .form-container {
    flex: 1; /* Permite que este contenedor se expanda */
    margin: 0 0; /* Centra horizontalmente */
    padding: 20px; /* Espaciado interno */
    max-width: 90%; /* Ajusta el ancho máximo */
    box-sizing: border-box; /* Incluye padding en el tamaño total */
    padding-bottom: 0;
  }
  .bottom-image {
    display: block; /* Muestra la imagen */
    width: 100%; /* Imagen ocupa todo el ancho */
    height: auto; /* Ajusta la altura automáticamente */
    object-fit: cover; /* Mantiene proporciones */
    margin-top: auto; /* Empuja la imagen al final de la pantalla */
    margin: 0;
  }

  .logo {
    display: none; /* Oculta el logo de la versión de escritorio */
  }

  .logo-bottom {
    display: block; /* Muestra el logo en móviles */
    max-width: 100px;
    margin: 0 auto; /* Centra el logo */
  }
}

@media screen and (max-width: 479px) {
 
  .button {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    font-size: 0.8rem;
  }

  .button_view-more {
    font-size: 1rem;
  }

  .svg_long-arrow {
    width: .8rem;
  }

}
