
  .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
  }
  input.w-button {
    -webkit-appearance: button;
  }

  button,
  [type='button'],
  [type='reset'] {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
  }
 
 